<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<div class="row">
  <div class="col-md-6">
    <h2>Edit {{movie?.name}}</h2>

    <form [formGroup]="MoviesChanges">
        <label for="name">Name</label>
        <br />
        <input class="form-control" name="name" formControlName="name" />
      <!-- <div class="alert" *ngIf="MoviesChanges?.errors?.name">
        {{MoviesChanges.errors.name}}
      </div> -->

      <br />
      <label for="description">Description</label>
      <br />
      <input class="form-control" name="description" formControlName="description" />
      <br />

      <label for="rating">Rating</label>
      <br />
      <input class="form-control" name="rating" formControlName="rating" />
      <br />

      <label for="youtubeId">YoutubeId</label>
      <br />
      <input class="form-control" name="youtubeId" formControlName="youtubeId" />
      <br />

      <button (click)="save()">Save</button>
      <button (click)="goBack()">Go back</button>
    </form>
  </div>
</div>

</html>