<!doctype html>
<html lang="en">
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

<div class="container">
        <h1>Edit {{movie?.name}}</h1>
        <form>
            <div class="form-group">
                <label for="description">description</label>
                <input type="text" class="form-control" [(ngModel)] ="description" [ngModelOptions]="{standalone: true}">
              </div>

          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" [(ngModel)] ="name" [ngModelOptions]="{standalone: true}">
          </div>

          <div class="form-group">
            <label for="rating">Rating</label>
            <input type="text" class="form-control" [(ngModel)] ="rating" [ngModelOptions]="{standalone: true}">
          </div>

          <div class="form-group">
            <label for="youtubeId">youtubeId</label>
            <input type="text" class="form-control" [(ngModel)] ="youtubeId" [ngModelOptions]="{standalone: true}">
          </div>

          <button (click)="goBack()">Go back</button>
          <button (click)="editMovie()">Save edits</button>     
        </form>
    </div>

