<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<div class="row">
  <div class="col-md-4">
    <h2>Add Movie</h2>
    <form [formGroup]="MoviesChanges">
      <br />
      <label for="name">Name</label>
      <br />
      <input class="form-control" name="name" formControlName="name" />
      <br />
      <label for="description">Description</label>
      <br />
      <input class="form-control" name="description" formControlName="description" />
      <br />
      <label for="rating">Rating</label>
      <br />
      <input class="form-control" name="rating" formControlName="rating" />
      <br />
      <label for="youtubeId">Url</label>
      <br />
      <input class="form-control" name="youtubeId" formControlName="youtubeId" />
      <br />
      <button (click)="addMovie()">Save</button>
    </form>
  </div>


  <div class="col-md-8">
    <h2 id=listoplosser>Edit Movie</h2>
    <br />
    <ul class="movie">
      <li *ngFor="let movie of movies | async">
        <a routerLink="/detail/{{movie.id}}">
          {{movie.name}}
        </a>
        <button class="delete" title="delete movie" (click)="deleteMovie(movie.id)">x</button>
      </li>
    </ul>
  </div>
</div>

</html>